<div class="dashboard-content">
  <div class="dashboard-status-box">
    <div class="status-card">
      <div class="status-flex">
        <div class="icon-background">
          <i class="far fa-calendar-check fa-dash-icon fa-4x p-3"></i>
        </div>
        <div class="p-3">
          <p class="appointment-counter">0<%= @doctor_total_appointments %></p>
          <p>Total de consultas realizadas pelo médico</p>
        </div>
      </div>
      <div class="status-flex">
        <div class="icon-background">
          <i class="fas fa-dash-icon fa-procedures fa-4x p-3"></i>
        </div>
        <div class="p-3">
          <p class="appointment-counter">0<%= @unique_count_patients %></p>
          <p>Pacientes atendidos pelo médico </p>
        </div>
      </div>
      <div class="dash-quick-action">
        <%= link_to "Cadastrar novo médico", new_doctor_path, class: "btn-add-doctor mb-3" %>
        <%= link_to "Cadastrar paciente", new_patient_path, class: "btn-add-doctor mb-3" %>
        <%= link_to "Agendar consulta", new_appointment_path, class: "btn-add-doctor" %>
      </div>
    </div>
  </div>
</div>

