<%= render './pages/sidebar' %>
<%= render './pages/dashboard_content' %>

<div class="appointment-content">
  <div class="appointment-header">
    <h2>Consultas agendadas</h2>
  </div>

  <table class="table">
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Médico</th>
          <th>Marcado para</th>
          <th>Início</th>
          <th>Término</th>
          <th>Editar</th>
          <th>Apagar</th>
        </tr>
      </thead>
        <% @appointments.each do |appointment| %>
          <tbody>
            <tr>
              <td><%= appointment.patient.name %></td>
              <td><%= appointment.doctor.name %></td>
              <td><%= appointment.starts_at.strftime("%d/%m/%Y") %></td>
              <% if appointment.starts_at.min == 0 %>
                <td><%= appointment.starts_at.hour %>:0<%= appointment.starts_at.min %> h</td>
              <% else %>
                <td><%= appointment.starts_at.hour %>:<%= appointment.starts_at.min %> h</td>
              <% end %>
              <%if appointment.ends_at.min == 0 %>
                <td><%= appointment.ends_at.hour %>:0<%= appointment.ends_at.min %> h</td>
              <% else %>
                <td><%= appointment.ends_at.hour %>:<%= appointment.ends_at.min %> h</td>
              <% end %>
              <td>
                <%= link_to edit_appointment_path(appointment.id) do %>
                  <i class="fas fa-edit-doctor fa-user-edit"></i>
                <% end %>
              </td>
               <td>
                <%= link_to appointment_path(appointment.id), method: :delete, data: {"confirm": "Deseja realmente apagar?"} do %>
                  <i class="fas fa-delete-doctor fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
  </table>




</div>





